.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 77vh;
}
  
.profile-page h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.profile-page form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.profile-page form div {
    margin-bottom: 15px; /* Spacing between fields */
}

.profile-page label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.profile-page input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.profile-page button {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fd661f;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #b94d1b;
}
  
